.banner{
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    height: 150px;
}

.logo {
    width: 200px;
    margin-top: 90px;
    margin-left: 10px;
}

.sottotitolo {
    color: lightslategrey;
}

.sottotitolo2 {
    color: lightslategrey;
    font-size: 12px;
}

.link{
    text-decoration: none;
}

h1{
    margin: 0;
}

.titolo{
    margin-top: 20px;
    margin-bottom: 15px;
}

section {
    margin-bottom: 15px;
}

.descrizione{
    font-size: 10px;
}

.evidenziato{
    background-color: yellow;
}

ul{
    padding-left: 15px;
}

table{
    border-spacing: 0;
}

th{
    text-align: left;
    color: white;
    background-color: lightskyblue;
    width: 400px;
    height: 30px;
}

.sfondo-azzurro{
    background-color: lightblue;
}
